<div class="post-actions">
    <ol class="post-actions-panel">
        <nav>
            <ul class="post-actions-nav hide-sm">
                <li>
                    <% if (post.prev) { %>
                        <a class="post-actions-btn btn btn--default tooltip--top" href="<%- url_for(post.prev.path) %>"  data-tooltip="<%= post.prev.title %>">
                    <% } else { %>
                        <a class="post-actions-btn btn btn--disabled">
                    <% } %>
                        <i class="fa fa-angle-left"></i>
                        <span class="hide-sm text-small">PREVIOUS</span>
                    </a>
                </li>
                <li>
                    <% if (post.next) { %>
                        <a class="post-actions-btn btn btn--default tooltip--top" href="<%- url_for(post.next.path) %>" data-tooltip="<%= post.next.title %>">
                    <% } else { %>
                        <a class="post-actions-btn btn btn--disabled">
                    <% } %>
                        <span class="hide-sm text-small">NEXT</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="post-actions-share">
            <li>
                <a class="post-actions-btn btn btn--default" target="new" href="<%= 'https://plus.google.com/share?url=' + post.permalink %>">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a class="post-actions-btn btn btn--default" target="new" href="<%= 'https://www.facebook.com/sharer/sharer.php?u=' + post.permalink %>">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </li>
            <li>
                <a class="post-actions-btn btn btn--default" target="new" href="<%= 'https://twitter.com/intent/tweet?text=' + post.permalink %>">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="post-actions-btn btn btn--default" href="#disqus_thread">
                    <i class="fa fa-comment-o"></i>
                </a>
            </li>
        </ul>
    </ol>
</div>

