<div class="post-actions-wrap">
    <nav>
        <ul class="post-actions post-action-nav">
            <li class="post-action">
                <% if (post.prev) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.prev.path) %>"  data-tooltip="<%= post.prev.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <i class="fa fa-angle-left"></i>
                    <span class="hide-xs hide-sm text-small icon-ml"><%= __('pagination.previous') %></span>
                </a>
            </li>
            <li class="post-action">
                <% if (post.next) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.next.path) %>" data-tooltip="<%= post.next.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <span class="hide-xs hide-sm text-small icon-mr"><%= __('pagination.next') %></span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </nav>
    <ul class="post-actions post-action-share">
        <li class="post-action hide-lg hide-md hide-sm">
            <a class="post-action-btn btn btn--default btn-open-shareoptions"  href="#btn-open-shareoptions">
                <i class="fa fa-share-alt"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <% if (config.language != 'zh-cn') { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://plus.google.com/share?url=' + post.permalink %>">
                    <i class="fa fa-google-plus"></i>
                </a>
            <% } else { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + post.permalink %>">
                    <i class="fa fa-qq"></i>
                </a>
            <% } %>
        </li>
        <li class="post-action hide-xs">
            <% if (config.language != 'zh-cn') { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://www.facebook.com/sharer/sharer.php?u=' + post.permalink %>">
                    <i class="fa fa-facebook-official"></i>
                </a>
            <% } else { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'http://share.v.t.qq.com/index.php?c=share&a=index&url=' + post.permalink %>">
                    <i class="fa fa-tencent-weibo"></i>
                </a>
            <% } %>
        </li>
        <li class="post-action hide-xs">
            <% if (config.language != 'zh-cn') { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://twitter.com/intent/tweet?text=' + post.permalink %>">
                    <i class="fa fa-twitter"></i>
                </a>
            <% } else { %>
                <a class="post-action-btn btn btn--default" target="new" href="<%= 'http://service.weibo.com/share/share.php?url=' + post.permalink %>">
                    <i class="fa fa-weibo"></i>
                </a>
            <% } %>
        </li>
        <% if (post.comments) { %>
            <li class="post-action">
                <a class="post-action-btn btn btn--default" href="#disqus_thread">
                    <i class="fa fa-comment-o"></i>
                </a>
            </li>
        <% } %>
        <li class="post-action">
            <% if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(post.content)) { %>
                <a class="post-action-btn btn btn--default" href="#table-of-contents">
            <%} else { %>
                <a class="post-action-btn btn btn--default" href="#">
            <% } %>
                <i class="fa fa-list"></i>
            </a>
        </li>
    </ul>
</div>

