<div class="post-actions-wrap">
    <nav>
        <ul class="post-actions post-action-nav">
            <li class="post-action">
                <% if (post.prev) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.prev.path) %>"  data-tooltip="<%= post.prev.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <i class="fa fa-angle-left"></i>
                    <span class="hide-xs hide-sm text-small icon-ml"><%= __('pagination.previous') %></span>
                </a>
            </li>
            <li class="post-action">
                <% if (post.next) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.next.path) %>" data-tooltip="<%= post.next.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <span class="hide-xs hide-sm text-small icon-mr"><%= __('pagination.next') %></span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </nav>
    <ul class="post-actions post-action-share">
        <li class="post-action hide-lg hide-md hide-sm">
            <a class="post-action-btn btn btn--default btn-open-shareoptions"  href="#btn-open-shareoptions">
                <i class="fa fa-share-alt"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://plus.google.com/share?url=' + post.permalink %>">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://www.facebook.com/sharer/sharer.php?u=' + post.permalink %>">
                <i class="fa fa-facebook-official"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <a class="post-action-btn btn btn--default" target="new" href="<%= 'https://twitter.com/intent/tweet?text=' + post.permalink %>">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <% if (post.comments && (theme.disqus_shortname || theme.duoshuo_shortname)) { %>
            <li class="post-action">
                <a class="post-action-btn btn btn--default" href="#<%= (theme.duoshuo_shortname ? 'ds-thread' : 'disqus_thread') %>">
                    <i class="fa fa-comment-o"></i>
                </a>
            </li>
        <% } %>
        <li class="post-action">
            <% if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(post.content)) { %>
                <a class="post-action-btn btn btn--default" href="#table-of-contents">
            <%} else { %>
                <a class="post-action-btn btn btn--default" href="#">
            <% } %>
                <i class="fa fa-list"></i>
            </a>
        </li>
    </ul>
</div>

