<% var rPhoto = /([\w:\-\/._#]+) ([\w:\-\/._#]+)* *(?:["|'](.+)["|'])*/; %>
<% if ((photos) && (photos.length)) { %>
    <% var imageGalleryClass; %>
    <% if (photos.length > 2) { %>
        <% imageGalleryClass = 'image-gallery-photos--thumbnail' %>
    <% } %>
    <div class="image-gallery">
        <div class="image-gallery-metabar">
            <span><%=  'Gallery : ' + photos.length + ' images' %></span>
        </div>
        <div class="image-gallery-photos <%= imageGalleryClass %>">
            <% photos.forEach(function(photo) { %>
                <% var match = photo.match(rPhoto); %>
                <% var originalUrl = match[1]; %>
                <% var thumbnailUrl = match[2]; %>
                <% var photoTitle = match[3] || ''; %>
                <% if (is_remote_url(originalUrl)) { %>
                    <% if (!/.+\.[a-zA-Z0-9]{3,4}$/.test(originalUrl)) { %>
                        <%  originalUrl += "#.jpg"; %>
                    <% } %>
                <% } else { %>
                    <% originalUrl = url_for(post.path.replace('.html', '/') + originalUrl); %>
                <% } %>
                <% if (thumbnailUrl) { %>
                    <% if (is_remote_url(thumbnailUrl)) { %>
                        <% if (!/.+\.[a-zA-Z0-9]{3,4}$/.test(thumbnailUrl)) { %>
                            <%  thumbnailUrl += "#.jpg"; %>
                        <% } %>
                    <% } else { %>
                        <% thumbnailUrl = url_for(post.path.replace('.html', '/') + thumbnailUrl); %>
                    <% } %>
                <% } %>
                <div class="photo-box">
                    <a class="photo-box-inner fancybox" data-fancybox-group="<%= 'gallery-' + post._id %>" title="<%= photoTitle %>" href="<%= (originalUrl || thumbnailUrl) %>">
                        <img class="photo" src="<%= (thumbnailUrl || originalUrl) %>" itemprop="image">
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
<% } %>