<div class="post-header main-content-wrap">
    <% thumbnailImageUrl = {} %>
    <% if ((theme.thumbnail_image) && (post.thumbnailImage) && ((post.thumbnailImage.length))) { %>
        <% if ((post.thumbnailImage.indexOf(config.url) < 0) && (post.thumbnailImage.indexOf('://') >= 0)) { %>
            <% thumbnailImageUrl.value = post.thumbnailImage; %>
        <% } else { %>
            <% thumbnailImageUrl.value = url_for(post.path.replace('.html', '/') + post.thumbnailImage); %>
        <% } %>
    <% } else if ((theme.thumbnail_image) && (post.photos) && (post.photos.length)) { %>
        <% if ((post.photos[0].indexOf(config.url) < 0) && (post.photos[0].indexOf('://') >= 0)) { %>
            <% thumbnailImageUrl.value = post.photos[0]; %>
        <% } else { %>
            <% thumbnailImageUrl.value = url_for(post.path.replace('.html', '/') + post.photos[0]); %>
        <% } %>
    <% } else if ((theme.thumbnail_image) && (post.coverImage) && (post.coverImage.length)) { %>
        <% if ((post.coverImage.indexOf(config.url) < 0) && (post.coverImage.indexOf('://') >= 0)) { %>
            <% thumbnailImageUrl.value = post.coverImage; %>
        <% } else { %>
            <% thumbnailImageUrl.value = url_for(post.path.replace('.html', '/') + post.coverImage); %>
        <% } %>
    <% } %>
    <% if (thumbnailImageUrl.value != null) { %>
        <div class="hide">
            <img alt="" itemprop="image" src="<%= thumbnailImageUrl.value %>"/>
        </div>
        <% thumbnailImageUrl.value = null; %>
    <% } %>
    <% if (post.link) { %>
        <h1 itemprop="headline">
            <a class="link" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title || '(no title)' %></a>
        </h1>
    <% } else { %>
        <h1 class="post-title" itemprop="headline"><%= post.title || '(no title)' %></h1>
    <% } %>
    <%- partial('meta') %>
</div>
