<div class="post-header main-content-wrap <%= (post.metaAlignment ? 'text-' + post.metaAlignment : 'text-left') %>">
    <% if (post.link) { %>
        <h1 itemprop="headline">
            <a class="link" href="<%- url_for(post.link) %>" target="_blank" rel="noopener" itemprop="url">
                <%= post.title || '(' + __('post.no_title') + ')' %>
            </a>
        </h1>
    <% } else { %>
        <h1 class="post-title" itemprop="headline">
            <%= post.title || '(' + __('post.no_title') + ')' %>
        </h1>
    <% } %>
    <% if (post.meta === undefined || post.meta) { %>
        <%- partial('meta',{classes: ['post-meta']}) %>
    <% } %>
</div>