<%
    // Generate cover image url
    var coverImageUrl;

    if (post.coverImage) {
        if (is_remote_url(post.coverImage)) {
            coverImageUrl = post.coverImage;
        }
        else {
            coverImageUrl = url_for(post.path.replace('.html', '/') + post.coverImage);
        }
%>
        <div class="post-header-cover
                    <%= (post.metaAlignment ? 'text-' + post.metaAlignment : 'text-left') %>
                    <%= (post.coverSize ? 'post-header-cover--' + post.coverSize : '') %>"
             style="background-image:url('<%= coverImageUrl %>');"
             data-behavior="<%= sidebarBehavior %>">
            <% if (typeof post.coverMeta === "undefined" || post.coverMeta === 'in') { %>
                <%- partial('header') %>
            <% } %>
        </div>
<% } %>