<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time itemprop="datePublished" datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if (post.updated) { %>
    <time itemprop="dateModified" datetime="<%= post.updated.format() %>" />
    <% } %>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
       <meta itemprop="name" content="<%= (post.author ? post.author : config.author) %>" />
    </div>
</div>
