<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <% if (theme.word_count || theme.reading_time) { %>
        -
        <% if (theme.reading_time) { %>
            <%- _p('post.minutes_to_read', min2read(post.content)) %>
        <% } %>
        <% if (theme.word_count) { %>
            (<%=  _p('post.word_count', wordcount(post.content) )%>)
        <% } %>
    <% } %>
</div>
