<div class="post-meta">
    <time  itemprop="datePublished" content="<%= post.date %>">
        <% if (post.date.isAfter(moment().subtract(7, 'days'))) { %>
            <%= post.date.fromNow() %>
        <% } else { %>
            <%= post.date.format('MMM DD, YYYY') %>
        <% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span>in </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <% if ((post.tags) && (post.tags.length > 0)) { %>
        <% if (post.categories.length == 0) { %>
            <span>in </span>
        <% } else { %>
            <span>, </span>
        <% } %>
        <%- partial('tag', {tags: post.tags})%>
    <% } %>
</div>