<div id="tags-archives" class="main-content-wrap">
    <form id="filter-form" action="#">
        <input name="tag" type="text" class="form-control input--xlarge" placeholder="<%= __('global.search_tag') %>" autofocus="autofocus">
    </form>
    <h4 class="archive-result text-color-base text-xlarge"></h4>
    <section>
        <% site.tags.sort('name').each(function(item) { %>
            <a class="tag tag--primary tag--small" href="<%= '#' + item.name + '-list' %>" data-tag="<%= item.name.replace('.','__').toLowerCase() %>">
                <%= item.name %>
            </a>
        <% }); %>
    </section>
    <section class="boxes">
        <% site.tags.sort('name').each(function(item) { %>
            <div id="<%= item.name + '-list' %>" class="archive box" data-tag="<%= item.name.replace('.','__').toLowerCase() %>">
                <h4 class="archive-title">
                    <a class="link-unstyled" href="<%- url_for('tags/' + item.name.replace(' ', '-') ) %>"><%= item.name + ' (' + item.length + ')' %></a>
                </h4>
                <ul class="archive-posts">
                    <% site.tags.findOne({'name': item.name}).posts.each(function(post) { %>
                    <li class="archive-post">
                        <a class="archive-post-title" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post.no_title') + ')' %></a>
                        <span class="archive-post-date"><%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %></span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
</div>
