<%
    var lastYear;
    var lastMonth;
%>
<div id="archives" class="main-content-wrap">
    <form id="filter-form" action="#">
        <input name="date" type="text" class="form-control input--xlarge" placeholder="<%= __('global.search_date') %>" autofocus="autofocus">
    </form>
    <h5 class="archive-result text-color-base text-xlarge"
        data-message-zero="<%= __('global.posts_found.zero') %>"
        data-message-one="<%= __('global.posts_found.one') %>"
        data-message-other="<%= __('global.posts_found.other') %>"></h5>
    <section class="boxes">
        <% site.posts.sort('date', 'desc').each(function(post) { %>
            <% var currentYear = post.date.year(); %>
            <% var currentMonth = post.date.format('MM'); %>
            <% if (lastYear != currentYear) { %>
                <% if (lastYear != null) { %>
                    </div>
                    <% lastMonth = null; %>
                <% } %>
                <% lastYear = currentYear; %>
                <div class="archive archive-year box" data-date="<%= post.date.year() %>">
                    <h4 class="archive-title">
                        <a class="link-unstyled" href="<%- url_for(config.archive_dir + '/' + currentYear) %>"><%= currentYear %></a>
                    </h4>
            <% } %>
            <% if (lastMonth != currentMonth) { %>
                <% if (lastMonth != null) { %>
                    </ul>
                <% } %>
                <ul class="archive-posts archive-month" data-date="<%= post.date.format('YYYYMM') %>">
                    <h5 class="archive-title">
                        <a class="link-unstyled" href="<%- url_for(config.archive_dir + '/' + post.date.format('YYYY/MM')) %>"><%= post.date.locale(page.lang).format('MMMM') %></a>
                    </h5>
                <% lastMonth = currentMonth; %>
            <% } %>
            <li class="archive-post archive-day" data-date="<%= post.date.format('YYYYMMDD') %>">
                <a class="archive-post-title" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post.no_title') + ')' %></a>
                <span class="archive-post-date"><%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %></span>
            </li>
        <% }) %>
    </section>
</div>
