<div id="tags-archives" class="main-content-wrap">
    <form id="filter-form" action="#">
        <input name="tag" type="text" class="form-control input--xlarge" placeholder="<%= __('global.search_tag') %>" autofocus="autofocus">
    </form>
    <h4 class="archive-result text-color-base text-xlarge"
        data-message-zero="<%= __('global.tags_found.zero') %>"
        data-message-one="<%= __('global.tags_found.one') %>"
        data-message-other="<%= __('global.tags_found.other') %>"></h4>

        <section>
        <% site.tags.sort('name').each(function(tag) { %>
            <a class="tag tag--primary tag--small" href="<%= '#' + tag.name + '-list' %>" data-tag="<%= tag.name.toLowerCase() %>">
                <%= tag.name %>
            </a>
        <% }); %>
    </section>
    <section class="boxes">
        <% site.tags.sort('name').each(function(tag) { %>
            <div id="<%= tag.name + '-list' %>" class="archive box" data-tag="<%= tag.name.toLowerCase() %>">
                <h4 class="archive-title">
                    <a class="link-unstyled" href="<%- url_for(config.tag_dir + '/' + tag.slug) %>">
                        <%= tag.name + ' (' + tag.length + ')' %>
                    </a>
                </h4>
                <ul class="archive-posts">
                    <% site.tags.findOne({'name': tag.name}).posts.sort('date', 'desc').each(function(post) { %>
                        <li class="archive-post">
                            <a class="archive-post-title" href="<%- url_for(post.path) %>">
                                <%= post.title || '(' + __('post.no_title') + ')' %>
                            </a>
                            <span class="archive-post-date">
                                <%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %>
                            </span>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
</div>
