<div id="categories-archives" class="main-content-wrap">
    <form id="filter-form" action="##">
        <input name="category" type="text" class="form-control input--xlarge" placeholder="<%= __('global.search_category')  %>" autofocus="autofocus">
    </form>
    <h4 class="archive-result text-color-base text-xlarge"></h4>
    <section>
        <% site.categories.sort('name').each(function(item) { %>
            <a class="category category--small category--primary" href="<%= '#posts-list-' + item.name %>" data-category="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                <%= item.name %>
            </a>
        <% }); %>
    </section>
    <section class="boxes">
        <% site.categories.sort('name').each(function(item) { %>
            <% if (!item.parent) { %>
                <div id="<%= 'posts-list-' + item.name %>" class="archive box" data-category="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                    <h4 class="archive-title">
                        <a class="link-unstyled" href="<%- url_for('categories/' + item.name.replace(' ', '-') )%>"><%= item.name + ' (' + item.length + ')' %></a>
                    </h4>
                    <ul class="archive-posts">
                        <% site.categories.findOne({'name': item.name}).posts.each(function(post) { %>
                            <li class="archive-post">
                                <a class="archive-post-title" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post..no_title') + ')' %></a>
                                <span class="archive-post-date"><%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %></span>
                            </li>
                        <% }) %>
                        <% site.categories.find({'parent': item._id}).forEach(function(childItem) { %>
                            <div id="<%= 'posts-list-' + childItem.name %>" class="archive" data-category="<%= childItem.name.replace('.', '__').replace(' ', '-').toLowerCase() %>" data-parent-categories="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                                <h5 class="archive-title">
                                    <a class="link-unstyled" href="<%- url_for('categories/' + item.name.replace(' ', '-') + '/' + childItem.name.replace(' ', '-'))%>"><%= childItem.name + ' (' + childItem.length + ')' %></a>
                                </h5>
                                <ul class="archive-posts">
                                    <% site.categories.findOne({'name': childItem.name}).posts.each(function(post) { %>
                                        <li class="archive-post">
                                            <a class="archive-post-title" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post..no_title') + ')' %></a>
                                            <span class="archive-post-date"><%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %></span>
                                        </li>
                                    <% }) %>
                                    <% site.categories.find({'parent': childItem._id}).forEach(function(childChildItem) { %>
                                        <div id="<%= 'posts-list-' + childChildItem.name %>" class="archive" data-category="<%= childChildItem.name.replace('.', '__').replace(' ', '-').toLowerCase() %>" data-parent-categories="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() + ',' + childItem.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                                            <h5 class="archive-title">
                                                <a class="link-unstyled" href="<%- url_for('categories/' + item.name.replace(' ', '-') + '/' + childItem.name.replace(' ', '-') + '/' + childChildItem.name.replace(' ', '-'))%>"><%= childChildItem.name + ' (' + childChildItem.length + ')' %></a>
                                            </h5>
                                            <ul class="archive-posts">
                                                <% site.categories.findOne({'name': childChildItem.name}).posts.each(function(post) { %>
                                                    <li class="archive-post">
                                                        <a class="archive-post-title" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post..no_title') + ')' %></a>
                                                        <span class="archive-post-date"><%= ' - ' + post.date.locale(page.lang).format(__('date_format')).toLowerCase() %></span>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    <% }) %>
                                </ul>
                            </div>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        <% }); %>
    </section>
</div>
