<div id="categories-archives" class="archive-group main-content-wrap">
    <form id="filter-form" action="#">
        <input name="category" type="text" class="form-control input--xlarge" placeholder="Search a category" autofocus="autofocus">
    </form>
    <h5 class="archive-result text-color-base text-xlarge"></h5>
    <section>
        <% site.categories.sort('name').each(function(item) { %>
            <a class="category category--small category--primary" href="<%= '#posts-list-' + item.name %>" data-category="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                <%= item.name %>
            </a>
        <% }); %>
    </section>
    <section class="box-group">
        <% site.categories.sort('name').each(function(item) { %>
            <div id="<%= 'posts-list-' + item.name %>" class="archive box" data-category="<%= item.name.replace('.', '__').replace(' ', '-').toLowerCase() %>">
                <h4 class="archive-title">
                    <a class="link-unstyled" href="<%- url_for('categories/' + item.name.replace(' ', '-') )%>"><%= item.name + ' (' + item.length + ')' %></a>
                </h4>
                <ul class="archive-post-group">
                    <% get_posts({'query':{'categories': item.name}}).each(function(post) { %>
                    <li class="archive-post">
                        <a class="archive-post-title" href="<%= post.permalink %>"><%= post.title || '(no title)' %></a>
                        <span class="archive-post-date"><%= ' - ' + post.date.format('DD/MM/YYYY').toLowerCase() %></span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
</div>