<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <%- partial('_partial/sidebar') %>
        <div class="main">
            <div class="main-content">
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
    <%- partial('_partial/script') %>
</html>
