<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body>
        <div id="blog">
            <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <div id="main" data-behavior="<%= theme.sidebar_behavior %>">
                <%- body %>
                <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
            </div>
            <% if (is_post()) { %>
                <div id="bottom-bar" class="post-bottom-bar" data-behavior="<%= theme.sidebar_behavior %>">
                    <%- partial('_partial/post/actions', {post: page}) %>
                </div>
            <% } %>
        </div>
        <%- partial('_partial/about', null, {cache: !config.relative_link}) %>
        <%- partial('_partial/cover', null, {cache: !config.relative_link}) %>
    </body>
    <%- partial('_partial/script', {post: page}) %>
</html>
