<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <div id="blog">
            <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <div id="main">
                <div id="main-content">
                    <%- body %>
                    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
                </div>
            </div>
        </div>
        <div id="cover" style="background-image:url('<%= config.root + theme.image_dir + '/' + theme.cover  %>');"></div>
    </body>
    <%- partial('_partial/script') %>
</html>