<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <%- partial('_partial/sidebar') %>
        <div class="main">
            <%- body %>
            <%- partial('_partial/footer') %>
        </div>
    </body>
    <%- partial('_partial/script') %>
</html>
