<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <%- partial('_partial/sidebar') %>
        <div id="main">
            <div id="main-content">
                <% if (page.layout == 'tags') { %>
                    <%- partial('_partial/tags') %>
                <% } else { %>
                    <%- body %>
                <% } %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
    <%- partial('_partial/script') %>
</html>