<div id="tags-archives" class="archive-group">
    <form id="filter-form" action="#">
        <input name="tag" type="text" class="form-control input--xlarge" placeholder="Search a tag" autofocus="autofocus">
    </form>
    <h5 class="archive-result text-color-base text-xlarge"></h5>
    <section>
        <% site.tags.sort('name').each(function(item) { %>
            <a class="tag tag--primary tag--small" href="<%= '#' + item.name + '-list' %>" data-tag="<%= item.name.replace('.','__') %>">
                <%= item.name %>
            </a>
        <% }); %>
    </section>
    <section class="box-group">
        <% site.tags.sort('name').each(function(item) { %>
            <div id="<%= item.name + '-list' %>" class="archive" data-tag="<%= item.name.replace('.','__') %>">
                <h5 class="archive-title">
                    <a class="link-unstyled" href="<%- url_for('tags/' + item.name ) %>"><%= item.name + ' (' + item.length + ')' %></a>
                </h5>
                <ul class="archive-post-group">
                    <% get_posts({'query':{'tags': item.name}}).each(function(post) { %>
                    <li class="archive-post">
                        <a class="archive-post-title" href="<%= post.permalink %>"><%= post.title %></a>
                        <span class="archive-post-date"><%= ' - ' + post.date.format('DD/MM/YYYY').toLowerCase() %></span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
</div>