<div id="tags-archives" class="archive">
    <form id="filter-form" action="#">
        <input name="tag" type="text" class="form-control input--xlarge" placeholder="Search a tag" autofocus="autofocus">
    </form>
    <section>
        <% site.tags.sort('name').each(function(item) { %>
            <a class="a-tag tag tag--block" href="<%= '#posts-list-' + item.name %>" data-tag="<%= item.name.replace('.','__') %>">
                <%= item.name %>
            </a>
        <% }); %>
    </section>
    <section class="box-group">
        <% site.tags.sort('name').each(function(item) { %>
            <div id="<%= 'posts-list-' + item.name %>" class="a-posts box" data-tag="<%= item.name.replace('.','__') %>">
                <a href="<%- url_for('tags/' + item.name )%>">
                    <h1 class="text-strong text-large"><%= item.name.toUpperCase() + ' (' + item.length + ')' %></h1>
                </a>
                <ul >
                    <% get_posts({'query':{'tags': item.name}}).each(function(post) { %>
                    <li>
                        <a class="link text-base" href="<%= post.permalink %>"><%= post.title %></a>
                        <span><%= ' - ' + post.date.format('DD/MM/YYYY').toLowerCase() %></span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
</div>