<% /* Define author's picture */ %>
<% var authorPicture = null; %>
<% if (theme.gravatar_email && theme.gravatar_email.length) { %>
    <% authorPicture = gravatar(theme.gravatar_email, 110); %>
<% } else if (theme.author.picture && theme.author.picture.length) { %>
    <% if (is_remote_url(theme.author.picture)) { %>
        <% authorPicture = theme.author.picture; %>
    <% } else { %>
        <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
    <% } %>
<% } %>
<div id="about">
    <div id="about-card">
        <div id="about-btn-close">
            <i class="fa fa-times"></i>
        </div>
        <% if (authorPicture) { %>
            <img id="about-card-picture" src="<%= authorPicture %>" alt="<%= __('global.author_picture') %>"/>
        <% } %>
            <h4 id="about-card-name"><%= config.author %></h4>
        <% if (__('author.bio')) { %>
            <div id="about-card-bio"><%- markdown(__('author.bio')) %></div>
        <% } %>
        <% if (__('author.job')) { %>
            <div id="about-card-job">
                <i class="fa fa-briefcase"></i>
                <br/>
                <%- markdown(__('author.job')) %>
            </div>
        <% } %>
        <% if (theme.author.location) { %>
            <div id="about-card-location">
                <i class="fa fa-map-marker-alt"></i>
                <br/>
                <%= theme.author.location %>
            </div>
        <% } %>
    </div>
</div>
