<div id="about">
    <div id="about-card">
        <div id="about-btn-close"><i class="fa fa-remove"></i></div>
        <img id="about-card-picture" src="<%- gravatar(config.email, 110) || theme.author.picture %>" />
        <h5 id="about-card-name"><%= config.author %></h5>
        <p id="about-card-bio"><%= theme.author.bio %></p>
        <h6 id="about-card-job"><i class="fa fa-briefcase"></i><br/><%= theme.author.job %></h6>
        <h6 id="about-card-location"><i class="fa fa-map-marker"></i><br/><%= theme.author.location %></h6>
    </div>
</div>