<% var lastYear; %>
<div id="tags-archive" class="archive">
    <form action="#" id="tags-search" class="archive-search">
        <input id="tag" type="text" class="form-control input--xlarge" value="" placeholder="Search a date - format: year/month/day" autofocus="autofocus">
    </form>
    <% site.posts.sort('date', '-1').each(function(post, i) { %>
        <% var currentYear = post.date.year(); %>
        <% if (lastYear != currentYear) { %>
            <% if (lastYear != null) { %>
                </ul></div></section>
            <% } %>
            <% lastYear = currentYear; %>
            <section id="posts-list" class="archive-list box-group">
                <div id="<%= 'posts-list-' + currentYear %>" class="box" data-date="<%= post.date.format('YYYY/MM/DD') %>">
                    <a href="<%- url_for('archives/' + currentYear) %>"><h2 class="archive-list-title"><%= currentYear %></h2></a>
                    <ul class="archive-list-content">
        <% } %>
        <li>
            <a class="link" href="<%= post.permalink %>"><%= post.title %></a><span><%- ' - ' + post.date.format('DD/MM/YYYY').toLowerCase() %></span>
        </li>
    <% }) %>
</div>