<%
var title = page.title;

if (is_archive()){
    title = 'Archives';

    if (is_month()) {
        title += ' : ' + page.year + '/' + page.month;
    }
    else if (is_year()) {
        title += ' : ' + page.year;
    }
}
else if (is_tag()) {
    title = 'Tag : ' + page.tag;
}
%>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
    <meta name="viewport" content="width=932" >
    <meta name="MobileOptimized" content="932" >
    <meta name="generator" content="<%- config.title %>">
    <title><%- title %></title>
    <link rel="stylesheet" type="text/css" href="<%- config.root %>vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%- config.root %>css/style.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- theme.config.rss %>">
    <script type="text/javascript" src="<%- config.root %>vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="<%- config.root %>js/script.min.js"></script>
</head>
