<%
    // Separate fb admin ids
    if (theme.fb_admin_ids) {
        fb_admin_ids = String(theme.fb_admin_ids).split(',');
    }
    // Create title of the page
    var title = '';

    if (is_home()) {
        title += config.title;
    }
    else if (is_archive()){
        title += 'All archives';

        if (is_month()) {
            title += ' : ' + page.year + '/' + page.month;
        }
        else if (is_year()) {
            title += ' : ' + page.year;
        }

        title += ' - ' + config.title;
    }
    else if (is_tag()) {
        if (page.tag) {
            title += 'Tag : ' + page.tag;
        }
        else {
            title += 'All tags';
        }

        title += ' - ' + config.title;
    }
    else if (is_category()) {
        if (page.category) {
            title += 'Category : ' + page.category;
        }
        else {
            title += 'All categories';
        }

        title += ' - ' + config.title;
    }
    else {
      title += page.title + ' - ' + config.title;
    }
%>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="<%= config.title %>">
    <title><%= title %></title>
    <meta name="author" content="<%= config.author %>">
    <% if (theme.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.image_dir + '/' + theme.favicon) %>">
    <% } %>
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternative" type="application/atom+xml" title="RSS" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <%- open_graph({
        type: 'blog',
        twitter_id: theme.author.twitter,
        fb_app_id: theme.fb_app_id
    }) %>
    <% if (theme.author.google_plus) { %>
        <meta rel="publisher" content="https://plus.google.com/<%= theme.author.google_plus %>"/>
    <% } %>
    <% if (typeof fb_admin_ids !== 'undefined') { %>
        <% fb_admin_ids.forEach(function(fb_admin_id) { %>
            <meta property="fb:admins" content="<%= fb_admin_id %>" />
        <% }) %>
    <% } %>
    <% if (theme.gravatar_email) { %>
        <meta property="og:image" content="<%- gravatar(theme.gravatar_email, 640) %>"/>
    <% } else if (theme.author.picture) { %>
        <meta property="og:image" content="<%- url_for(theme.image_dir + '/' + theme.author.picture) %>"/>
    <% } %>
    <% if (page.thumbnailImage && page.thumbnailImage.length) { %>
        <meta property="og:image" content="<%- url_for(page.path.replace('.html', '/') + page.thumbnailImage) %>"/>
        <meta class="swiftype" name="image" data-type="enum" content="<%- url_for(page.permalink.replace('.html', '/') + page.thumbnailImage) %>" />
    <% } %>
    <% if (page.coverImage && page.coverImage.length) { %>
        <meta property="og:image" content="<%- url_for(page.path.replace('.html', '/') + page.coverImage) %>"/>
        <meta class="swiftype" name="image" data-type="enum" content="<%- url_for(page.permalink.replace('.html', '/') + page.coverImage) %>" />
    <% } %>
    <% if (page.photos && page.photos.length) { %>
        <% page.photos.forEach(function(photo) { %>
            <meta property="og:image" content="<%- url_for(page.path.replace('.html', '/') + photo) %>" />
            <meta class="swiftype" name="image" data-type="enum" content="<%- url_for(page.permalink.replace('.html', '/') + photo) %>" />
        <% }) %>
    <% } %>
    <!--STYLES-->
    <%- css('assets/css/font-awesome.css') %>
    <%- css('assets/css/jquery.fancybox.css') %>
    <%- css('assets/css/jquery.fancybox-thumbs.css') %>
    <%- css('assets/css/tranquilpeak.css') %>
    <!--STYLES END-->
    <%- partial('google-analytics') %>
</head>
