<!-- Define author's picture -->
<% var authorPicture = null; %>
<% if (!theme.header.right_link.icon) { %>
    <% if (theme.gravatar_email && theme.gravatar_email.length) { %>
        <% authorPicture = gravatar(theme.gravatar_email, 90); %>
    <% } else if (theme.author.picture && theme.author.picture.length) { %>
        <% if (is_remote_url(theme.author.picture)) { %>
            <% authorPicture = theme.author.picture; %>
        <% } else { %>
            <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
        <% } %>
    <% } %>
<% } %>
<header id="header" data-behavior="<%= sidebarBehavior %>">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
    <div class="header-title">
        <a class="header-title-link" href="<%- url_for(' ') %>"><%= config.title %></a>
    </div>
    <% if (theme.header && theme.header.right_link) { %>
        <% if (theme.header.right_link.url && url_for(theme.header.right_link.url).indexOf(config.url) < 0 && url_for(theme.header.right_link.url).indexOf(':') >= 0) { %>
            <a  class="<%= (theme.header.right_link.icon ? 'header-right-icon ' : 'header-right-picture ') %><% if (theme.header.right_link.class) { %><%= theme.header.right_link.class %><% } %>"
                href="<%- url_for(theme.header.right_link.url) %>" target="_blank">
        <% } else if (theme.header.right_link.url) { %>
            <a  class="<%= (theme.header.right_link.icon ? 'header-right-icon ' : 'header-right-picture ') %><% if (theme.header.right_link.class) { %><%= theme.header.right_link.class %><% } %>"
                href="<% if (theme.header.right_link.url.indexOf("/") === 0) { %><%- url_for(theme.header.right_link.url.substr(1)) %><% } else { %><%- url_for(theme.header.right_link.url) %><% } %>">
        <% } %>
        <% if (theme.header.right_link.icon) { %>
            <i class="fa fa-lg fa-<%= theme.header.right_link.icon %>"></i>
        <% } else if (authorPicture) { %>
            <img class="header-picture" src="<%= authorPicture %>" alt="<%= __('global.author_picture') %>"/>
        <% } %>
        </a>
    <% } %>
</header>
