<%
    var thumbNailImgClass = '';

    if (theme.thumbnail_image) {
        thumbNailImgClass = 'post--thumbnailimg';
    }
%>
<div class="posts">
    <% page.posts.each(function(post) { %>
        <article class="post <%= thumbNailImgClass %>">
            <% var thumbNailImg = null; %>
            <% if ((post.photos.length) && (theme.thumbnail_image)) { %>
                <% thumbNailImg = post.permalink + post.photos[0]; %>
                <div class="post-thumbnailimg">
                    <img alt="" src="<%= thumbNailImg %>"/>
                </div>
            <% } %>
            <div class="post-info">
                <a href="<%= post.permalink %>">
                    <h1 class="post-title"><%= post.title %></h1>
                </a>
                <div class="post-date text-xsmall">
                    <%= post.date.format(' MMM DD, YYYY').toUpperCase() %>
                    <% if (!post.updated) { %>
                        <%= ' - updated : ' + post.updated.format('MMM DD, YYYY') %>
                    <% } %>
                </div>
                <div class="post-readingtime text-xsmall">
                    <% if (post.readingtime) { %>
                        <%= ' - ' + post.readingtime + ' min read - '.toUpperCase() %>
                    <% } %>
                </div>
                <div class="post-tags">
                    <%- partial('post/tag', {tags: post.tags})%>
                </div>
                <div class="post-snippet text-large">
                    <%- post.excerpt %>
                </div>
            </div>
            <div class="post-separator"></div>
        </article>
    <% }) %>
    <%- partial('pagination', {type: 'page'}) %>
</div>