<% var thumbnailImageUrl = null; %>
<section class="postShorten-group main-content-wrap">
    <% page.posts.each(function(post) { %>
        <% if ((theme.thumbnail_image) && (post.thumbnailImage) && ((post.thumbnailImage.length))) { %>
            <% if ((post.thumbnailImage.indexOf(config.url) < 0) && (post.thumbnailImage.indexOf('://') >= 0)) { %>
                <% thumbnailImageUrl = post.thumbnailImage; %>
            <% } else { %>
                <% thumbnailImageUrl = url_for(post.permalink + post.thumbnailImage); %>
            <% } %>
        <% } else if ((theme.thumbnail_image) && (post.photos) && (post.photos.length)) { %>
            <% if ((post.photos[0].indexOf(config.url) < 0) && (post.photos[0].indexOf('://') >= 0)) { %>
                <% thumbnailImageUrl = post.photos[0]; %>
            <% } else { %>
                <% thumbnailImageUrl = url_for(post.permalink + post.photos[0]); %>
            <% } %>
        <% } else if ((theme.thumbnail_image) && (post.coverImage) && (post.coverImage.length)) { %>
            <% if ((post.coverImage.indexOf(config.url) < 0) && (post.coverImage.indexOf('://') >= 0)) { %>
                <% thumbnailImageUrl = post.coverImage; %>
            <% } else { %>
                <% thumbnailImageUrl = url_for(post.permalink + post.coverImage); %>
            <% } %>
        <% } %>
        <% if (thumbnailImageUrl != null) { %>
            <article class="postShorten postShorten--thumbnailimg" itemscope itemType="http://schema.org/BlogPosting">
        <% } else { %>
                <article class="postShorten" itemscope itemType="http://schema.org/BlogPosting">
        <% } %>
            <div class="postShorten-wrap">
                <div class="postShorten-header">
                    <h1 class="postShorten-title" itemprop="headline">
                        <% if (post.link) { %>
                                <a class="link-unstyled" href="<%- url_for(post.link) %>"><%= post.title || '(' + __('post.no_title') + ')' %></a>
                        <% } else { %>
                                <a class="link-unstyled" href="<%- url_for(post.path) %>"><%= post.title || '(' + __('post.no_title') + ')' %></a>
                        <% } %>
                    </h1>
                    <%- partial('post/meta', {post: post, classes: ['postShorten-meta']}) %>
                </div>
                <div class="postShorten-excerpt" itemprop="articleBody">
                    <% if (post.excerpt) { %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <p>
                            <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 200) %><br>
                    <% } %>
                    <% if ((post.link) && __('post.go_to_website')) { %>
                            <a href="<%- url_for(post.link) %>" target="new" class="postShorten-excerpt_link link"><%= __('post.go_to_website')  %> </a>
                    <% } else { %>
                        <% if (__('post.read_more')) { %>
                            <a href="<%- url_for(post.path) %>" class="postShorten-excerpt_link link "><%- __('post.read_more') %></a>
                            <% if (post.readingtime) { %>
                                <span class="postShorten-readingtime"><%= ' - ' + post.readingtime + ' min read' %></span>
                            <% } %>
                        <% } %>
                    <% } %>
                    <% if (!post.excerpt) { %>
                        </p>
                    <% } %>
                </div>
            </div>
            <% if (thumbnailImageUrl != null) { %>
                <div class="postShorten-thumbnailimg">
                    <img alt="" itemprop="image" src="<%= thumbnailImageUrl %>"/>
                </div>
                <% thumbnailImageUrl = null; %>
            <% } %>
        </article>
    <% }) %>
    <%- partial('pagination', {type: 'page'}) %>
</section>
