<section class="postShorten-group main-content-wrap">
    <% page.posts.each(function(post) { %>
    <%
        var tableOfContents = null;
        var thumbnailImageUrl = post.thumbnailImageUrl;
        var postContent = post.content;
        // Define default position for the thumbnail image
        var thumbnailImagePosition = theme.thumbnail_image_position;
        /* Define thumbnail image */

        // Define position of the thumbnail image
        if (!post.excerpt && !post.link) {
            thumbnailImagePosition = "bottom";
        } else if (thumbnailImageUrl !== null) {
            if (post.thumbnailImagePosition && post.thumbnailImagePosition.length)  {
                thumbnailImagePosition = post.thumbnailImagePosition;
            }
        }

        // Generate and insert table of contents in post content
        if (!post.excerpt && (/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
            if (__('post.toc_title')) {
                tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
            } else {
                tableOfContents = '<span id="table-of-contents"></span>';
            }
            tableOfContents += toc(postContent, {list_number: false})
            postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
        }
    %>
    <article class="postShorten postShorten--thumbnailimg-<%= thumbnailImagePosition %>" itemscope itemType="http://schema.org/BlogPosting">
        <div class="postShorten-wrap">
            <% if (thumbnailImageUrl !== null && thumbnailImagePosition === "top") { %>
                <a href="<%- url_for(post.path) %>">
                    <div class="postShorten-thumbnailimg">
                        <img alt="" itemprop="image" src="<%= thumbnailImageUrl %>"/>
                    </div>
                </a>
                <% thumbnailImageUrl = null; %>
            <% } %>
            <div class="postShorten-header">
                <h1 class="postShorten-title" itemprop="headline">
                    <% if (post.link) { %>
                        <a class="link-unstyled" href="<%- url_for(post.link) %>">
                            <%= post.title || '(' + __('post.no_title') + ')' %>
                        </a>
                    <% } else { %>
                        <a class="link-unstyled" href="<%- url_for(post.path) %>">
                            <%= post.title || '(' + __('post.no_title') + ')' %>
                        </a>
                    <% } %>
                </h1>
                <%- partial('post/meta', {post: post, classes: ['postShorten-meta']}) %>
            </div>
            <% if (post.excerpt || post.link) { %>
                <div class="postShorten-excerpt" itemprop="articleBody">
                    <%- post.excerpt %>
                    <% if (post.link && _('post.go_to_website')) { %>
                        <a href="<%- url_for(post.link) %>" target="new" class="postShorten-excerpt_link link">
                            <%= __('post.go_to_website') %>
                        </a>
                    <% } else if (__('post.read_more')) { %>
                        <a href="<%- url_for(post.path) %>" class="postShorten-excerpt_link link">
                            <%- __('post.read_more') %>
                        </a>
                        <% if (post.readingtime) { %>
                            <span class="postShorten-readingtime">
                                <%= ' - ' + post.readingtime + ' min read' %>
                            </span>
                        <% } %>
                    <% } %>
                </div>
            <% } else { %>
                <div class="postShorten-content" itemprop="articleBody">
                    <%- postContent %>
                    <% if (theme.image_gallery) { %>
                        <%- partial('post/gallery', {photos: post.photos, post: post})%>
                    <% } %>
                    <% if (__('post.comment_and_share')) { %>
                        <p>
                            <a href="<%- url_for(post.path + '#post-footer') %>" class="postShorten-excerpt_link link">
                                <%- __('post.comment_and_share') %>
                            </a>
                        </p>
                    <% } %>
                </div>
            <% } %>
        </div>
        <% if (thumbnailImageUrl !== null && thumbnailImagePosition !== "top") { %>
            <a href="<%- url_for(post.path) %>">
                <div class="postShorten-thumbnailimg">
                    <img alt="" itemprop="image" src="<%= thumbnailImageUrl %>"/>
                </div>
            </a>
            <% thumbnailImageUrl = null; %>
        <% } %>
    </article>
    <% }) %>
    <%- partial('pagination', {type: 'page'}) %>
</section>
