<div class="pagination-bar">
    <ul class="pagination">
        <% if (page.prev) { %>
          <li class="pagination-prev">
            <a
                class="btn btn--default btn--small"
                href="<%- url_for(page.prev_link) %>"
                aria-label="<%= __('pagination.newer_posts') %>"
            >
              <i class="fa fa-angle-left text-base icon-mr"></i>
              <span><%= __('pagination.newer_posts') %></span>
            </a>
          </li>
        <% } %>
        <% if (page.next) { %>
          <li class="pagination-next">
            <a
                class="btn btn--default btn--small"
                href="<%- url_for(page.next_link) %>"
                aria-label="<%= __('pagination.older_posts') %>"
            >
              <span><%= __('pagination.older_posts') %></span>
              <i class="fa fa-angle-right text-base icon-ml"></i>
            </a>
          </li>
        <% } %>
        <li class="pagination-number"><%= _p('pagination.page', page.current) + ' ' + _p('pagination.of', page.total) %></li>
    </ul>
</div>
