<section class="post">
    <div class="post-info">
        <h1 class="post-title"><%= post.title %></h1>
        <div class="post-date text-xsmall">
            <%= post.date.format(' MMM DD, YYYY').toUpperCase() %>
            <% if (!post.updated) { %>
                <%= ' - updated : ' + post.updated.format('MMM DD, YYYY') %>
            <% } %>
        </div>
        <div class="post-readingtime text-xsmall">
            <% if (post.readingtime) { %>
                <%= ' - ' + post.readingtime + ' min read - '.toUpperCase() %>
            <% } %>
        </div>
        <div class="post-tags">
            <%- partial('post/tag', {tags: post.tags})%>
        </div>
        <div class="post-content text-large">
            <%- post.content %>
        </div>
    </div>
</section>
<section>
    <%- partial('post/social-share') %>
    <%- partial('post/nav') %>
    <% if (config.disqus_shortname) { %>
        <%- partial('post/disqus') %>
    <% } %>
</section>

