<%
    var coverImageUrl;

    if (post.coverImage) {
        if ((post.coverImage.indexOf(config.url) < 0) && (post.coverImage.indexOf('://') >= 0)) {
            coverImageUrl = post.coverImage;
        } else {
            coverImageUrl = url_for(post.permalink + post.coverImage);
        }
    }
%>
<section class="post">
    <% if (post.coverImage) { %>
        <div class="post-header-cover" style="background-image:url('<%= coverImageUrl %>');">
            <%- partial('post/header')%>
        </div>
    <% } else { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="post-content markdown main-content-wrap">
        <%- post.content %>
    </div>
    <% if (theme.image_gallery) { %>
        <%- partial('post/gallery', {photos: post.photos})%>
    <% } %>
    <div class="post-footer main-content-wrap">
        <%- partial('post/actions') %>
        <% if (config.disqus_shortname) { %>
            <%- partial('post/disqus') %>
        <% } %>
    </div>
    <div class="post-bottom-bar">
        <%- partial('post/actions') %>
    </div>
</section>

