<section class="post-wrap">
    <div class="post">
        <% if (post.link){ %>
            <h1 itemprop="name">
                <a class="link" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
            </h1>
        <% } else { %>
            <h1 class="post-title"><%= post.title %></h1>
        <% } %>
        <div class="post-info text-xsmall text-uppercase">
            <% if (post.date.isAfter(moment().subtract(7, 'days'))) { %>
                <%= post.date.fromNow() %>
            <% } else { %>
                <%= post.date.format('MMM DD, YYYY') %>
            <% } %>
            <% if (post.readingtime) { %>
                <%= ' - ' + post.readingtime + ' min read - ' %>
            <% } %>
            <% if (post.categories.length) { %>
                <span>IN </span>
                <%- partial('post/category', {categories: post.categories, style: 'link'})%>
            <% } %>
        </div>
        <div class="post-content text-large markdown">
            <%- post.content %>
        </div>
        <% if (theme.image_gallery) { %>
            <%- partial('post/gallery', {photos: post.photos})%>
        <% } %>
    </div>
    <%- partial('post/control') %>
    <% if (config.disqus_shortname) { %>
        <%- partial('post/disqus') %>
    <% } %>
</section>

