<%
    var tableOfContents = null;
    var postContent = post.content;

    // Generate and insert table of contents in post content
    if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
        if (__('post.toc')) {
            tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
        } else {
            tableOfContents = '<span id="table-of-contents"></span>';
        }
        tableOfContents += toc(postContent, {list_number: false})
        postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
    }
    // Replace `<!-- endcontent -->` by `</div>` and `<!-- content -->` by `</div class="main-content-wrap">`
    // it's an hack to insert html tag without
    // having auto delete or auto closed by the markdown render engine
    // Currently used to insert an image in full width, out of `main-content-wrap` div
    // which center the content and have a limited width (750px)
    postContent = postContent.replace(/<!-- ?endcontent ?-->/g, '</div>')
                               .replace(/<!-- ?content ?-->/g, '<div class="main-content-wrap">');
%>
<article class="post" itemscope itemType="http://schema.org/BlogPosting">
    <% if (post.coverCaption) { %>
        <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
    <% } %>
    <% if (!post.coverImage || post.coverMeta === 'out') { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="post-content markdown" itemprop="articleBody">
        <div class="main-content-wrap">
            <%- postContent %>
            <%- partial('post/gallery') %>
        </div>
    </div>
    <div id="post-footer" class="post-footer main-content-wrap">
        <% if ((post.tags) && (post.tags.length > 0)) { %>
            <div class="post-footer-tags">
                <span class="text-color-light text-small"><%= __('post.tagged_in') %></span><br/>
                <%- partial('post/tag', {tags: post.tags})%>
            </div>
        <% } %>
        <%- partial('post/actions', {postContent: postContent}) %>
        <% if (post.comments) { %>
            <% if (theme.disqus_shortname) { %>
                <%- partial('post/disqus') %>
            <% } else if (theme.duoshuo_shortname) { %>
                <%- partial('post/duoshuo') %>
            <% } %>
        <% } %>
    </div>
</article>

