<div id="algolia-search-modal" class="modal-container">
    <div class="modal">
        <div class="modal-header">
            <span class="close-button"><i class="fa fa-close"></i></span>
            <a href="https://algolia.com" target="_blank" class="searchby-algolia text-color-light link-unstyled">
                <span class="searchby-algolia-text text-color-light text-small">by</span>
                <img class="searchby-algolia-logo" src="https://www.algolia.com/static_assets/images/press/downloads/algolia-light.svg">
            </a>
            <i class="search-icon fa fa-search"></i>
            <form id="algolia-search-form">
                <input type="text" id="algolia-search-input" name="search"
                    class="form-control input--large search-input" placeholder="Search "
                    autofocus="autofocus"/>
            </form>
        </div>
        <div class="modal-body">
            <div class="no-result text-color-light text-center"><%= __('global.posts_found.zero') %></div>
            <div class="results">
                <% site.posts.sort('date').limit(config.per_page).forEach(function(post) { %>
                <div class="media">
                    <% if (post.thumbnailImageUrl) { %>
                    <div class="media-left">
                        <a class="link-unstyled" href="<%= post.link || post.permalink %>">
                            <img class="media-image" src="<%= post.thumbnailImageUrl %>" width="90" height="90"/>
                        </a>
                    </div>
                    <% } %>
                    <div class="media-body">
                        <a class="link-unstyled" href="<%= post.link || post.permalink %>">
                            <h3 class="media-heading"><%= post.title %></h3>
                        </a>
                        <span class="media-meta">
                            <span class="media-date text-small">
                                <% if (post.lang) { %>
                                    <%= post.date.locale(post.lang).format('ll') %>
                                <% } else { %>
                                    <%= post.date.locale(page.lang).format('ll') %>
                                <% } %>
                            </span>
                        </span>
                        <div class="media-content hide-xs font-merryweather"><%- post.excerpt %></div>
                    </div>
                    <div style="clear:both;"></div>
                    <hr>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="modal-footer">
            <p class="results-count text-medium"
                data-message-zero="<%= __('global.posts_found.zero') %>"
                data-message-one="<%= __('global.posts_found.one') %>"
                data-message-other="<%= __('global.posts_found.other') %>">
                <%= (_p('global.posts_found', site.posts.length)).replace(/\{n\}/, site.posts.length) %>
            </p>
        </div>
    </div>
</div>