<nav id="sidebar">
    <% if (((theme.gravatar_image) && (theme.author.email)) || (theme.author.picture)) { %>
        <div class="sidebar-profile">
            <a href="<%- url_for('/about') %>">
                <% if ((theme.gravatar_image) && (theme.author.email)) { %>
                    <img class="sidebar-profile-picture" src="<%- gravatar(theme.author.email, 90) %>"/>
                <% } else if (theme.author.picture) { %>
                    <img class="sidebar-profile-picture" src="<%- url_for(theme.image_dir + '/' + theme.author.picture) %>"/>
                <% } %>
            </a>
            <span class="sidebar-profile-name hide-md"><%= config.author %></span>
            <span class="sidebar-profile-subtitle hide-md"><%= config.subtitle %></span>
        </div>
    <% } %>
    <ul class="sidebar-buttons">
        <% for (var i in theme.sidebar.menu) { %>
            <li class="sidebar-button">
                <% if ((url_for(theme.sidebar.menu[i].url).indexOf(config.url) < 0) && (url_for(theme.sidebar.menu[i].url).indexOf('://') >= 0)) { %>
                    <a  class="sidebar-button-link" href="<%- url_for(theme.sidebar.menu[i].url) %>" target="_blank">
                <% } else { %>
                    <a  class="sidebar-button-link" href="<%- url_for(config.url + theme.sidebar.menu[i].url) %>">
                <% } %>
                    <i class="sidebar-button-icon fa fa-lg fa-<%= theme.sidebar.menu[i].icon %>"></i>
                    <span class="sidebar-button-desc hide-md"><%= theme.sidebar.menu[i].title %></span>
                </a>
            </li>
        <% } %>
    </ul>
    <% if(config.description){ %>
        <div class="sidebar-description"><%=config.description %></div>
    <% } %>

    <ul class="sidebar-icons">
        <% for (var i in theme.sidebar.author_links) { %>
            <li class="sidebar-icon">
                <% if ((url_for(theme.sidebar.author_links[i].url).indexOf(config.url) < 0) && (url_for(theme.sidebar.author_links[i].url).indexOf('://') >= 0)) { %>
                    <a  class="fa fa-<%= theme.sidebar.author_links[i].icon %>" href="<%- url_for(theme.sidebar.author_links[i].url) %>" target="_blank">
                <% } else { %>
                    <a  class="fa fa-<%= theme.sidebar.author_links[i].icon %>" href="<%- url_for(config.url + theme.sidebar.author_links[i].url) %>">
                <% } %>
                </a>
            </li>
        <% } %>
    </ul>

    <div class="links">
        <span>Links</span>
        <ul class="list">
            <% for (var i in theme.sidebar.links) { %>
                <li>
                    <% if ((url_for(theme.sidebar.links[i].url).indexOf(config.url) < 0) && (url_for(theme.sidebar.links[i].url).indexOf('://') >= 0)) { %>
                        <a href="<%- url_for(theme.sidebar.links[i].url) %>" target="_blank">
                    <% } else { %>
                        <a href="<%- url_for(config.url + theme.sidebar.links[i].url) %>">
                    <% } %>
                        <span class="sidebar-button-desc hide-md"><%= theme.sidebar.links[i].title %></span>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>