<nav id="sidebar">
    <ul class="sidebar-profile">
        <li>
            <img class="profile-picture" src="<%- gravatar(config.email, 90) || theme.author.picture %>"/>
            <span class="desc hide-m text-large"><%= config.author %></span>
        </li>
    </ul>
    <% for (var i in theme.sidebar) { %>
        <ul>
            <% for (var n in theme.sidebar[i]) { %>
                <li>
                    <% if (theme.sidebar[i][n].url.indexOf('://') >= 0) { %>
                        <a href="<%= theme.sidebar[i][n].url %>">
                    <% } else { %>
                        <a href="<%- url_for(theme.sidebar[i][n].url) %>">
                    <% } %>
                        <i class="fa fa-lg <%= 'fa-' + theme.sidebar[i][n].icon %>"></i>
                        <span class="desc hide-m text-large"><%- theme.sidebar[i][n].title %></span>
                    </a>
                </li>
            <% } %>
        </ul>
    <% } %>
</nav>