<nav id="sidebar">
    <ul class="sidebar-profile">
        <li>
            <% if ((theme.gravatar_image) && (theme.author.email)) { %>
                <img class="profile-picture" src="<%- gravatar(theme.author.email, 90) %>"/>
            <% } else if (theme.author.picture) { %>
                <img class="profile-picture" src="<%- url_for(theme.image_dir + '/' + theme.author.picture) %>"/>
            <% } %>
            <span class="hide-sm hide-md"><%= config.author %></span>
        </li>
    </ul>
    <% for (var i in theme.sidebar) { %>
        <ul>
            <% for (var n in theme.sidebar[i]) { %>
                <li>
                    <a href="<%- url_for(theme.sidebar[i][n].url) %>"
                        <% if ((url_for(theme.sidebar[i][n].url).indexOf(config.url) < 0) && (url_for(theme.sidebar[i][n].url).indexOf('://') >= 0)) { %>
                            target="_blank"
                        <% } %>
                    >
                        <i class="fa fa-lg <%= 'fa-' + theme.sidebar[i][n].icon %>"></i>
                        <span class="desc hide-sm hide-md"><%- theme.sidebar[i][n].title %></span>
                    </a>
                </li>
            <% } %>
        </ul>
    <% } %>
</nav>