<!-- Define author's picture -->
<% var authorPicture = null; %>
<% if (theme.gravatar_email && theme.gravatar_email.length) { %>
    <% authorPicture = gravatar(theme.gravatar_email, 110); %>
<% } else if (theme.author.picture && theme.author.picture.length) { %>
<% if (is_remote_url(theme.author.picture)) { %>
        <% authorPicture = theme.author.picture; %>
    <% } else { %>
        <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
    <% } %>
<% } %>
<nav id="sidebar" data-behavior="<%= sidebarBehavior %>">
    <% if (authorPicture) { %>
        <div class="sidebar-profile">
            <a href="<%- url_for('/#about') %>">
                    <img class="sidebar-profile-picture" src="<%= authorPicture %>"/>
            </a>
            <span class="sidebar-profile-name"><%= config.author %></span>
        </div>
    <% } %>
    <% for (var i in theme.sidebar) { %>
        <ul class="sidebar-buttons">
        <% for (var n in theme.sidebar[i]) { %>
            <li class="sidebar-button">
                <% if (url_for(theme.sidebar[i][n].url).indexOf(config.url) < 0 && url_for(theme.sidebar[i][n].url).indexOf(':') >= 0) { %>
                    <a  class="sidebar-button-link <% if (theme.sidebar[i][n].class) { %><%= theme.sidebar[i][n].class %><% } %>" href="<%- url_for(theme.sidebar[i][n].url) %>" target="_blank">
                <% } else { %>
                    <a  class="sidebar-button-link <% if (theme.sidebar[i][n].class) { %><%= theme.sidebar[i][n].class %><% } %>"
                        <% if (theme.sidebar[i][n].url.indexOf("/") === 0 && theme.sidebar[i][n].url.length === 1) { %> href="<%- url_for(' ') %>"
                        <% } else if (theme.sidebar[i][n].url.indexOf("/") === 0) { %> href="<%- url_for(theme.sidebar[i][n].url.substr(1)) %>"
                        <% } else { %> href="<%- url_for(theme.sidebar[i][n].url) %>"<% } %>
                    >
                <% } %>
                    <i class="sidebar-button-icon fa fa-lg <%= 'fa-' + theme.sidebar[i][n].icon %>"></i>
                    <span class="sidebar-button-desc"><%= __(theme.sidebar[i][n].title) %></span>
                </a>
        </li>
        <% } %>
    </ul>
    <% } %>
</nav>
